$family: 'Inter', sans-serif;
$main-bg: #efecec;
$text-color: #817f7f;
$white: #fff;
$yellow: #ecc246;
// breakpoint
$wide: '(min-width: 922px)';
$small: '(min-width: 768px)';
$mobile: '(max-width: 767px)';